[{"text":"WOUXUN KG-UVD1P","id":"src\/LoadMask.js","leaf":true,"cls":"file"},{"text":"Радиостанции","id":"src\/Радиостанции","cls":"folder"},{"text":"Источники питания","id":"src\/Источники питания","cls":"folder"},{"text":"S-350-13,5", "id":"src\/fold\/Controller.js", "leaf":"true", "cls":"file"}]
