<%= javascript_include_tag '/javascripts/test.js' %>
<div id="xx"><span>текст в xx</span></div>
<br />
<br />
<p>сюда можно ткнуть</p>
<br />
<br />
<div id="msg"></div>
Name: <input type="text" id="name" /><br />
<input type="button" id="okButton" value="OK" />
