<!DOCTYPE html>
<html>
<head>
  <title>ExtjsGrid</title>
  <%= stylesheet_link_tag '/extjs/resources/css/ext-all.css' %> 
  <%= javascript_include_tag '/ext-all.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
